<div class="wrapper wrapper_padding clearfix">
  <div class="col-1 about homepage_content">
    <div class="card_about">
      <div class="container_about">
        <h2>Profile</h2>
        <hr>
        <p>Hi! My name is  <a href="about/index">Nomi.</a></p>
        <%= image_tag("me-circle", alt: "A lovely picture of myself", class: 'image') %>
        <p>I'm a Junior Web Developer and a dabbler of all things creative.</p>
        <p>When I was a kid, my brother always told me I wasn't a book worm, I was a book slug. I always have several books going and my most fervent wish is that I had a photographic memory.</p>
      </div>
    </div>
  </div>

  <div class="col-2 homepage_content">
    <div class="card">
      <div class="container">
        <h2>Posts</h2>
        <hr>

        <% @posts.each do |post| %>
          <h3><a href="#"><%= link_to post.title, post %></a></h3>
          <p class="date"><%= post.created_at.strftime("%A, %b %d") %></p>
        <% end %>
      </div>
    </div>
  </div>

  <div class="col-3 homepage_content">
    <div class="card">
      <div class="container">
        <h2>Projects</h2>
        <hr>
        <% @projects.each do |project| %>
          <h3><a href="#"><%= link_to project.title, project %></a></h3>
          <p class="date"><%= project.created_at.strftime("%A, %b %d") %></p>
        <% end %>
      </div>
    </div>
  </div>
</div>
