<!DOCTYPE html>


  <section id="about">

    <h3>About</h3>
    <br>
    <p>Hi! My name is Nomi Vos!</p>
    <p>
      I'm a Junior Web Developer and a dabbler of all things creative.
    </p>
    <p>
      I am currently seeking employment for a remote position where I can contribute, learn and grow.
    </p>
    <p class='word-link'>
      I gained my tech skills through the <a href="http://www.makersacademy.com/" target='_blank'>Makers Academy</a> remote online bootcamp.  Their curriculum is project-based with an emphasis on test-driven development, object-oriented programming, pair programming and agile practices
    </p>
    <p>
      I gained valuable experience working remotely with a cohort of people from 10 different countries using Github, Slack, Zoom and other remote technologies.
    </p>
    <p>
      I have continued my learning through various other online courses, and by working on my own projects.</p>
    </p>
    <p>Check out my Resume and CV!</p>
    <div class="bottom">
      <div class="half">
        <p>
          <%= link_to(image_tag("resume_sqr", alt: "resume"), 'https://s3.amazonaws.com/imagestoragenomi/nomi_resume.pdf', target: '_blank') %>
        </p>
      </div>
      <div class="half">
        <p>
          <%= link_to(image_tag("CV", alt: "CV"), "https://github.com/nomi811/CV", target: "_blank") %>
        </p>
      </div>
    </div>
  </section>

  <section id="skills">
    <h3>Skills</h3>
    <br>
    <%= image_tag('red-arrow-icons', alt: 'Red Arrow') %>
  </section>

  <section id="work">
    <h3>Work</h3>
    <br>
    <div class="thirds">
      <%= link_to(image_tag('horse_show_connection1', alt: 'Image of Horse Show Connection Website'), 'https://horseshowconnection.herokuapp.com/', target: '_blank') %>
    </div>
    <div class="thirds">
      <%= link_to(image_tag('mealplanner_sqr', alt: 'Image of Mealplanner website'), 'https://github.com/joseck0510/meal_planner', target: '_blank') %>
    </div>
    <div class="thirds">
      <%= link_to(image_tag('FCC-website', alt: 'Image of my portfolio website'), 'https://nomi811.github.io/FCC-Build_a_Personal_Portfolio_Webpage/', target: '_blank')%>
    </div>
  </section>
