<!DOCTYPE html>

<main class="wrapper wrapper_padding clearfix">
  <div id="about">
    <div class="card">
      <div class="container">
        <h2><%= link_to 'About', about_index_path %></h2>
        <hr>
        <p>Hi! My name is Nomi!</p>
        <%= image_tag("me-circle", alt: "A lovely picture of myself", class: 'image') %>
        <p>I'm a Junior Web Developer and a dabbler of all things creative.</p>
        <p>I am currently seeking employment for a remote position where I can contribute, learn and grow.</p>
        <p class='word-link'>I gained my tech skills through the <a href="http://www.makersacademy.com/" target='_blank'>Makers Academy</a> remote online bootcamp.  Their curriculum is project-based with an emphasis on test-driven development, object-oriented programming, pair programming and agile practices</p>
        <p>I gained valuable experience working remotely with a cohort of people from 10 different countries using Github, Slack, Zoom and other remote technologies.
        <br>
        <br>
        <p class='link'><%= link_to 'Read more...', about_index_path %></p>
        <br>
        <br>
        <br>
        <p>Check out my Resume and CV!</p>
        <p><%= link_to(image_tag("resume_sqr", alt: "resume"), 'https://s3.amazonaws.com/imagestoragenomi/nomi_resume2.pdf', target: '_blank') %>  &nbsp; &nbsp; &nbsp; &nbsp;  <%= link_to(image_tag("CV", alt: "CV"), "https://github.com/nomi811/CV", target: "_blank") %></p>
        <br>
        <br>
        <p><a href="https://github.com/nomi811" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a> &nbsp; &nbsp;
        <a href="https://www.linkedin.com/in/nomi-vos-097aa082" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></p>
      </div>
    </div>
  </div>

  <div id="projects">
    <div class="card">
      <div class="container">
        <h2><%= link_to 'Recent Projects', projects_path %></h2>
        <hr>
        <ul>
          <% @projects.each do |project| %>
          <li>
            <% if project.image_file_name != nil %>
              <%= image_tag project.image.url(:medium) %>
            <% end %>
            <h3><a href="#"><%= link_to project.title, project %></a></h3>
            <p class="date"><%= project.created_at.strftime("%A, %b %d") %></p>
          <li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

  <div id="posts">
    <div class="card">
      <div class="container">
        <h2><%= link_to 'Recent Posts', posts_path %></h2>
        <hr>
        <ul>
          <% @posts.each do |post| %>
            <li>
              <% if post.image_file_name != nil %>
                <%= image_tag post.image.url(:medium) %>
              <% end %>
              <h3><a href="#"><%= link_to post.title, post %></a></h3>
              <p class="date"><%= post.created_at.strftime("%A, %b %d") %></p>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

  <div id="photos">
    <div class="card">
      <div class="container">
        <h2><%= link_to 'Featured Images', photos_path %></h2>
        <hr>
        <div id="gallery">
          <div class="wrapper clearfix">
            <%= image_tag('alex_sqr', alt: 'Alex') %>
            <%= image_tag('berries_sqr', alt: 'Red Berries') %>
            <%= image_tag('hydrangea_sqr', alt: 'Hydrangea') %>
            <%= image_tag('eagle_sqr', alt: 'Eagle') %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="patterns">
    <div class="card">
      <div class="container">
        <h2><%= link_to 'Featured Designs', patterns_path %></h2>
        <hr>
        <div id="gallery">
          <div class="wrapper clearfix">
            <%= image_tag('quote_sqr2', alt: 'quote') %>
            <%= image_tag('3_birds_sqr', alt: '3 Birds') %>
            <%= image_tag('free-flowing-sqr', alt: 'Free Flowing') %>
            <%= image_tag('small-flowers-sqr', alt: 'Small Flowers') %>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
