<!DOCTYPE html>

<div id="post_show_content" class="skinny_wrapper wrapper_padding">

  <header>
    <%= image_tag @pattern.image.url(:medium) %>
    <h1><%= @pattern.name %></h1>
  </header>

    <div id='admin_links'>
    <%= link_to 'Edit', edit_pattern_path(@pattern) %> |
    <%= link_to 'Back', patterns_path %> |
    <%= link_to 'Delete', pattern_path(@pattern), method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
</div>
