<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Nomi Vos</title>
  <link href="//fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Zeyada" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

  <%= csrf_meta_tags %>
</head>

<body>
  <div id="holder">
    <header id="main_navigation" class="clearfix">
      <%= link_to (image_tag "NV-logo.png", class: 'logo_rest'), root_path %>
      <%= link_to (image_tag "NV_logo_hover.png", class: 'logo_hover'), root_path %>
      <nav class="bottom-aligner">
        <%= link_to 'Profile', about_index_path %>
        <%= link_to 'Posts', posts_path %>
        <%= link_to 'Projects', projects_path %>
        <%= link_to 'Photography', photos_path %>
        <%= link_to 'Pattern Design', patterns_path %>
        <%= link_to 'Ping', new_contact_path %>
        <% if user_signed_in? %>
          <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
        <% end %>
      </nav>
    </header>

    <% if notice %>
      <p class="notice"><%= notice %></p>
    <% elsif alert %>
      <p class="alert"><%= alert %></p>
    <% end %>

    <%= yield %>

    <footer class="footer-distributed">

      <div class="footer-right">
        <!-- <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a> -->
        <a href="https://github.com/nomi811" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
        <a href="https://www.linkedin.com/in/nomi-vos-097aa082" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
      </div>
      <div class="footer-left">
        <p class="copyright">&copy;2016 Nomi Vos</p>
      </div>

      <p class="tech">This site was hand coded &amp; hand crafted by me from scratch with Ruby on Rails, JavaScript, jQuery, HTML5, CSS3, Photoshop, &amp; Illustrator.</p>
    </footer>
    </div>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </body>

</html>
