<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Nomi Vos | Web Developer</title>
  <link href="https://fonts.googleapis.com/css?family=Alice|Raleway:400,700|Sacramento" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

  <%= csrf_meta_tags %>
</head>

<body>
  <!--=======================
    Header <section>
  ===========================-->

  <header>
    <div class="logo">
      <%= image_tag('logo.png', alt: "logo") %>
    </div>
    <nav>
      <ul>
        <li><a href="#about">About</a></li>
        <li><a href="#skills">Skills</a></li>
        <li><a href="#work">Work</a></li>
        <li><%= link_to 'Blog', posts_path %></li>
        <li><%= link_to 'Contact', new_contact_path %></li>
        <% if user_signed_in? %>
          <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
        <% end %>
      </ul>
    </nav>
    <div class="tag">
      <h2>Web Development & Design</h2>
    </div>
  </header>

  <% if notice %>
    <p class="notice"><%= notice %></p>
  <% elsif alert %>
    <p class="alert"><%= alert %></p>
  <% end %>

  <%= yield %>
<!--====================
  Footer <section>
========================-->
  <section id="contact">
    <footer>

<!--=====================
  Grabber <section>
=======================-->

      <div class="two-thirds">
        <div class="grabber">
        <!-- <a href="https://github.com/nomi811" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
        <a href="https://www.linkedin.com/in/nomi-vos-097aa082" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a> -->
          <h3>I got this</h3>
          <p>Daydream with me ..........</p>
          <p>Your potential customer is getting online to do a search. They find your website. Your website strikes a chord with them. It speaks to them. They have no trouble navigating your site. Within minutes your potential customer transforms into an actual customer. A happy customer. A satisfied customer. A repeat customer.</p>
          <p>Creating and maintaining a website is a key component to any good marketing strategy.</p>
          <p>
            <span>I create websites. I can turn your daydream into reality.</span>
          </p>
        </div>
        <div class="social">
          <br>
          <br>
          <p>
            This site was hand coded &amp; hand crafted by me from scratch with Ruby on Rails, JavaScript, HTML5, CSS3, Photoshop, &amp; Illustrator.
          </p>
          <br>
          <br>

          <%= link_to(image_tag("linkedin-icon-red.svg", alt: "LinkedIn"), 'https://www.linkedin.com/in/nomi-vos-097aa082', target: '_blank') %>

          <%= link_to(image_tag("github-icon-1-red.svg", alt: "GitHub"), 'https://github.com/nomi811', target: '_blank') %>

        </div>

        <p class="tech"></p>

        <div class="copyright">

          <p>&copy;2018 Nomi Vos</p>
        </div>
      </div>

<!--=================
  Contact Section
=====================-->
      <div class="thirds">
        <div class="contact">
          <h3>Get in touch</h3>
          <div class="text-center">
            <button type="submit">Contact Me</button>
          </div>
        </div>
      </div>
    </footer>
  </section>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </body>

</html>
